/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix */
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

body{
    
}

.high_header{
    height: 100px;
    background-color:#3161e0;
}

.menu_nav ul{
    list-style: none;
    display: inline-block;
}

.menu_nav ul li{
    display: inline-block;
    margin: 30px;
    color: white;
}

.logo_discord{
    float: left;
    width: 20%;
    text-align: center;
    margin: 30px;
    line-height: 30px;
}

.menu_nav{
    float: left;
    width: 60%;
    text-align: center;
    line-height: 20px;
}

.buttons_white{
    background-color: white;
    color: black;
    float: left;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
    height: 20px;
    margin: 30px;

}

.buttons {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    background-color: white;
    padding: 3px;
    border: none;
    margin: 30px;
}

.container_banner{
    height: 100px;
   
}

.low_header{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/jumbo.png);
}